{% extends 'base.html' %}

{% block head %} 
    <title> My First Webpage </title> 
{% endblock %}

{% block body %}
    <h1> Handwritten Image Detection Model </h1>
    <p> To upload the handwriting, please use the below button </p>
    <form method = "POST", action = "/create_image", , enctype = "multipart/form-data">
        <label for = "txt">  </label> <br>
        <input type = "file" id = "txt" name = "img" accept="image/*"> 
        <br> <br>
        <button type = "submit"> Upload Image Here! </button>
    </form>
{% endblock %}